{% load i18n %}

<div class="navbar navbar-center max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 rounded-box bg-base-100 mb-6">
    <div class="flex-1">
        <p class="text-2xl font-extrabold text-red-500">AdSphere</p>
    </div>

    <div class="flex-none gap-2">
        <label class="swap swap-rotate btn btn-ghost btn-circle">
            <input type="checkbox" class="theme-controller" value="coffee" data-toggle-theme="cupcake,forest" />
            <i class="fa-solid fa-sun fa-lg swap-on ml-1"></i>
            <i class="fa-solid fa-moon fa-lg swap-off ml-1"></i>
        </label>

        <details class="dropdown dropdown-end">
            <summary class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <i class="fa-solid fa-bell fa-lg ml-1"></i>
                    {% if notifications|length > 0 %}
                    <span class="badge badge-sm indicator-item my-4" id="notification-counter">
                        {{ notifications|length }}
                    </span>
                    {% endif %}
                </div>
            </summary>
            <div tabindex="0" class="card card-compact dropdown-content bg-base-100 z-[1] mt-3 w-80 shadow">
                <ul class="text-sm" id="notifications-list">
                    {% if notifications %}
                    {% for notification in notifications %}
                    <li class="p-4 border-b border-gray-200 flex justify-between items-center"
                        id="notification-{{ notification.id }}">
                        <span>{{ notification.message }}</span>
                    </li>
                    {% endfor %}
                    <li class="p-4 text-center">
                        <form hx-post="{% url 'notifications:mark_all_as_read' %}" hx-target="#notifications-list"
                            hx-swap="innerHTML">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-ghost">
                                {% trans "Mark all as read" %}
                            </button>
                        </form>
                    </li>
                    {% else %}
                    <li class="p-4 text-center text-sm">{% trans "No notifications" %}</li>
                    {% endif %}
                </ul>
            </div>
        </details>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <div class="w-10 rounded-full">
                    <i class="fa-solid fa-user fa-lg ml-1"></i>
                </div>
            </div>
            <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 shadow">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <li onclick="this.closest('form').submit(); return false;">
                        <a href="#" class="text-error w-full">
                            {% trans 'Logout' %}
                        </a>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</div>

<script>
    document.addEventListener('htmx:afterSwap', function (evt) {
        if (evt.detail.target.id === 'notifications-list') {
            const counter = document.getElementById('notification-counter');
            if (counter) {
                counter.remove();
            }
        }
    });

    document.addEventListener('click', function (evt) {
        if (!evt.target.closest('.dropdown')) {
            document.querySelectorAll('.dropdown-content').forEach(function (dropdown) {
                dropdown.classList.remove('show');
            });
        }
    });

    document.querySelectorAll('.dropdown').forEach(function (dropdown) {
        dropdown.addEventListener('click', function (evt) {
            evt.stopPropagation();
            this.querySelector('.dropdown-content').classList.toggle('show');
        });
    });
</script>