{% load i18n %}

<div class="navbar navbar-center max-w-screen-2xl mx-auto px-4 sm:px-6 lg:px-8 rounded-box bg-base-100 mb-6">
    <div class="flex-1">
        <p class="text-2xl font-extrabold text-red-500">AdSphere</p>
    </div>

    <div class="flex-none gap-2">
        <label class="input input-bordered flex items-center gap-2">
            <input type="text" class="grow" placeholder="{% trans 'Search' %}" />
            <i class="fa-solid fa-magnifying-glass"></i>
        </label>
        <label class="swap swap-rotate btn btn-ghost btn-circle">
            <input type="checkbox" class="theme-controller" value="coffee" data-toggle-theme="cupcake,forest" />
            <i class="fa-solid fa-sun fa-lg swap-on"></i>
            <i class="fa-solid fa-moon fa-lg swap-off"></i>
        </label>

        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <i class="fa-solid fa-bell fa-lg"></i>
                    <span class="badge badge-sm indicator-item my-4">8</span>
                </div>
            </div>
            <div tabindex="0" class="card card-compact dropdown-content bg-base-100 z-[1] mt-3 w-52 shadow">
                <!-- some fake notifications -->
                <ul class="text-sm">
                    <li class="p-4">Notification 1</li>
                    <li class="p-4">Notification 2</li>
                    <li class="p-4">Notification 3</li>
                </ul>
            </div>
        </div>
        <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img alt="Tailwind CSS Navbar component"
                        src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                </div>
            </div>
            <ul tabindex="0" class="menu dropdown-content bg-base-100 rounded-box mt-3 w-52 p-2 shadow">
                <li><a>{% trans 'Profile' %}</a></li>
                <li><a>{% trans 'Settings' %}</a></li>
                <li><a class="text-error hover:bg-error hover:text-error-content">{% trans 'Logout' %}</a></li>
            </ul>
        </div>
    </div>
</div>