{% load i18n %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-theme="cupcake">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ad Platform{% endblock %}</title>
    {% vite_hmr_client %}
    {% vite_asset 'main.js' %}
</head>

<body class="m-0 p-0" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="min-h-screen bg-base-200 pt-12">
        <!-- Navbar at the top -->
        {% include "core/partials/navbar.html" %}

        <!-- Main content with sidebar -->
        <div class="max-w-screen-2xl mx-auto"> <!-- Fixed width container -->
            <div class="flex gap-12 mt-12"> <!-- Add gap between sidebar and content -->
                <!-- Sidebar -->
                {% include "core/partials/sidebar.html" %}

                <!-- Main content -->
                <main class="flex-1">
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
    </div>
</body>

</html>